# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
.turbo/
*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example
secrets/
*.pem
*.key
!infra/traefik/certs/.gitkeep

# Prisma
packages/db/generated/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test / coverage
coverage/
playwright-report/
test-results/

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Docker volumes mounted locally (dev only)
infra/postgres/data/
infra/minio/data/
